.steps {
    width: 35%;
    background-color: #182b6a;
    height: 100vh;

    .steps__title {
        padding-top: 10px;
        display: flex;
        justify-content: center;
        font-size: 26px;
        margin-bottom: 60px;
        color: #fff;

        .title {
            display: flex;
            align-items: flex-end;
            margin-left: 20px;
        }

        .steps__img {
            width: 20%;
        }
    }

    .steps-list {
        font-size: 18px;
        font-weight: 700;
        text-align: justify;
        margin-left: 100px;
        color: #fff;

        .step {
            margin: 20px 0px;
        }
    }

    .fondo-steps {
        margin-top: 40px;
        width: 80%;
    }
}