.step4 {
    display: flex;

    .step-4{
        width: 65%;
        margin: 30px 0px;

        .step-4__title {
            width: 80%;
            margin: 50px auto;
            font-weight: 700;
            font-size: 36px;
            color: #577294;
        }

        .datos-personales__box1 {
            text-align: justify;
            width: 90%;
            margin: 40px auto;

            .datos-personales__name {
                font-size: 20px;
                color: #577294;
                font-weight: 500;
            }

            .datos-personales__form {
                margin: 20px 0px;

                .datos-personales__input {
                    width: 80%;
                    border: 1px solid #577294;
                    border-radius: 10px;
                    height: 50px;
                    color: silver;
                    font-size: 14px;
                    padding-left: 10px;
                }
            }
        }

        .datos-personales__box2 {
            display: flex;
            width: 90%;
            margin: 50px auto;
            text-align: justify;

            .datos-personales__box {
                flex: 1;
                width: 30%;

                .datos-personales__name {
                    font-size: 20px;
                    color: #577294;
                    font-weight: 500;
                }
    
                .datos-personales__form {
                    margin: 20px 0px;
    
                    .datos-personales__input2 {
                        width: 80%;
                        border: 1px solid #577294;
                        border-radius: 10px;
                        height: 50px;
                        color: silver;
                        font-size: 14px;
                        padding-left: 10px;
                    }
                }
            }
        }

        .step-buttons {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
    
            .button-1 {
                margin: 0px auto;
                margin-bottom: 20px;
                width: 20%;
                padding: 8px 12px;
                background-color: #0BC6FE;
                border: 0px;
                border-radius: 10px;
                color: #fff;
                font-size: 16px;
                font-weight: 800;
            }
    
            .button-2 {
                margin: 0px auto;
                margin-bottom: 0px;
                width: 16%;
                padding: 6px 10px;
                background-color: transparent;
                border: 0px;
                color: #0BC6FE;
                font-size: 16px;
                font-weight: 800;
            }
        }
    }
}
