.step1 {
    display: flex;

    .step-1{
        width: 65%;
        margin: 40px 0px;

        .step-1__title {
            font-weight: 700;
            font-size: 36px;
            color: #577294;
        }
        .rama-provincia {
            display: flex;
            justify-content: center;
            width: 80%;
            margin: 30px auto;
            padding-left: 100px;
            color: #577294;

            .form__select {
                background-color: #fff;
                font-weight: 500;
                font-size: 16px;
                color: silver;
                width: 80%;
                height: 40px;
                border: 1px solid  #577294;
                border-radius: 10px;

                .form__option {
                    height: 40px;
                    border: 2px solid  #577294;
                    border-radius: 10px;
                }
            }

            .rama {
                flex: 1;
                text-align: justify;
                .rama__description {
                    margin: 20px 0px;
                }
            }

            .provincia {
                flex: 1;
                text-align: justify;
                .provincia__description {
                    margin: 20px 0px;
                }
            }
        }

        .alumno{
            margin: 30px 130px;
            text-align: justify;
            font-size: 18px;
            font-weight: 700;

            .alumno__description {
                color: #577294;
            }

            .alumno__consulta {
                color: #0BC6FE;
                margin: 10px 0px;
            }

            .alumno__buttons {
                
                .alumno__button {
                    width: 20%;
                    padding: 10px 14px;
                    margin-right: 10px;
                    background-color: #fff;
                    border: 1px solid  #577294;
                    border-radius: 10px;
                    cursor: pointer;
                    color: #577294;
                    font-weight: 700;
                }

                .button__three {
                    width: 30%;
                }

                .button__four {
                    width: 30%;
                    color: #0A3868;
                    font-size: 14px;
                    background-color: #577294;
                }
            }
        }

        .step-buttons {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
    
            .button-1 {
                margin: 0px auto;
                margin-bottom: 20px;
                width: 26%;
                padding: 10px 14px;
                background-color: #0BC6FE;
                border: 0px;
                border-radius: 10px;
                color: #fff;
                font-size: 18px;
                font-weight: 800;
            }
    
            .button-2 {
                margin: 0px auto;
                margin-bottom: 20px;
                width: 16%;
                padding: 10px 14px;
                background-color: transparent;
                border: 0px;
                color: #0BC6FE;
                font-size: 18px;
                font-weight: 800;
            }
        }
    }
}
