.step6 {
    display: flex;

    .step-6{
        width: 65%;
        margin: 0px 0px;

        .step-6__title {
            width: 80%;
            margin: 30px auto;
            font-weight: 700;
            font-size: 36px;
            color: #577294;
        }

        .pago-box1 {
            text-align: justify;
            width: 90%;
            margin: 40px auto;

            .pago__title {
                font-size: 20px;
                color: #577294;
                font-weight: 500;
                margin: 20px auto;
            }

            .pago-buttons {
                display: flex;

                .pago__button {
                    background-color: transparent;
                    width: 50%;
                    padding: 14px 18px;
                    color: #577294;
                    font-size: 16px;
                    border: 1px solid #577294;
                    border-radius: 10px;
                    margin-right: 50px;
                }

                .button2 {
                    width: 20%;
                    margin-right: 20px;
                }
            }

            .pago__description {
                margin-top: 20px;
                font-size: 20px;
                font-weight: 500;
                color: #0BC6FE;
            }
        }

        .box2 {
            margin-top: 60px;
        }

        .step-buttons {
            margin-top: 0px;
            display: flex;
            flex-direction: column;
    
            .button-1 {
                margin: 0px auto;
                margin-bottom: 20px;
                width: 20%;
                padding: 6px 10px;
                background-color: #0BC6FE;
                border: 0px;
                border-radius: 10px;
                color: #fff;
                font-size: 16px;
                font-weight: 800;
            }
    
            .button-2 {
                margin: 0px auto;
                margin-bottom: 0px;
                width: 16%;
                padding: 8px 12px;
                background-color: transparent;
                border: 0px;
                color: #0BC6FE;
                font-size: 16px;
                font-weight: 800;
            }
        }
    }
}
