.home {
    background-color: #182b6a;
    height: 76.1vh;
    padding: 80px 0px;
    color: #fff;
    text-align: center;

    .home__title {
        display: flex;
        justify-content: center;
        font-size: 26px;
        margin-bottom: 60px;

        .title {
            display: flex;
            align-items: flex-end;
            margin-left: 10px;
        }

        .home__img {
            width: 6%;
        }
    }

    .home__title2 {
        font-size: 42px;
        margin-bottom: 60px;
    }

    .home__description {
        width: 26%;
        margin: 0px auto;
        font-size: 24px;
        margin-bottom: 60px;
        font-weight: 500;
    }

    .home__button {
        display: flex;
        flex-direction: column;

        .button-1 {
            margin: 0px auto;
            margin-bottom: 20px;
            width: 16%;
            padding: 10px 14px;
            background-color: #0BC6FE;
            border: 0px;
            border-radius: 10px;
            color: #fff;
            font-size: 18px;
            font-weight: 800;
        }

        .button-2 {
            margin: 0px auto;
            margin-bottom: 20px;
            width: 16%;
            padding: 10px 14px;
            background-color: transparent;
            border: 0px;
            color: #0BC6FE;
            font-size: 18px;
            font-weight: 800;
        }
    }
}