.step2 {
    display: flex;

    .step-2{
        width: 65%;
        margin: 30px 0px;

        .step-2__title {
            width: 80%;
            margin: 0px auto;
            font-weight: 700;
            font-size: 36px;
            color: #577294;
        }
        .modalidad {
            text-align: justify;
            width: 90%;
            margin: 20px auto;
            padding-left: 100px;
            color: #577294;

            .modalidad__title {
                font-size: 20px;
            }

            .modalidad__description {
                font-size: 18px;
                margin: 6px 0px;
            }

            .modalidad-buttons {
                display: flex;
                flex-wrap: wrap;

                .modalidad__button {
                    font-size: 14px;
                    font-weight: 700;
                    color: #577294;
                    width: 40%;
                    margin-top: 10px;
                    margin-right: 10px;
                    height: 40px;
                    background-color: #fff;
                    border: 1px solid #577294;
                    border-radius: 10px;
                }
            }
        }

        .horario {
            text-align: justify;
            width: 90%;
            margin: 20px auto;
            padding-left: 100px;
            color: #577294;

            .horario__title {
                font-size: 20px;
            }

            .horario__description {
                font-size: 18px;
                margin: 6px 0px;
            }

            .horario-buttons {
                display: flex;
                flex-direction: column;
                width: 90%;

                .horario__button {
                    font-size: 14px;
                    font-weight: 700;
                    color: #577294;
                    margin-top: 10px;
                    height: 40px;
                    background-color: #fff;
                    border: 1px solid #577294;
                    border-radius: 10px;
                }
            }
        }
        .step-buttons {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
    
            .button-1 {
                margin: 0px auto;
                margin-bottom: 10px;
                width: 20%;
                padding: 8px 12px;
                background-color: #0BC6FE;
                border: 0px;
                border-radius: 10px;
                color: #fff;
                font-size: 16px;
                font-weight: 800;
            }
    
            .button-2 {
                margin: 0px auto;
                margin-bottom: 0px;
                width: 16%;
                padding: 6px 10px;
                background-color: transparent;
                border: 0px;
                color: #0BC6FE;
                font-size: 16px;
                font-weight: 800;
            }
            
        }
    }
}
