.step5 {
    display: flex;

    .step-5{
        width: 65%;
        margin: 0px 0px;

        .step-5__title {
            width: 80%;
            margin: 30px auto;
            font-weight: 700;
            font-size: 36px;
            color: #577294;
        }

        .direction-box1 {
            text-align: justify;
            width: 90%;
            margin: 30px auto;

            .direction__title {
                font-size: 20px;
                color: #577294;
                font-weight: 500;
            }

            .direction__description {
                font-size: 18px;
                margin: 6px 0px;
                color: #577294;
                margin-bottom: 10px;
            }

            .direction__select {
                background-color: #fff;
                font-weight: 500;
                font-size: 16px;
                color: silver;
                width: 80%;
                height: 40px;
                border: 1px solid  #577294;
                border-radius: 10px;

                .direction__option {
                    height: 40px;
                    border: 1px solid  #577294;
                    border-radius: 10px;
                }
            }
        }

        .direction__box2 {
            text-align: justify;
            width: 90%;
            margin: 20px auto;

            .direction__name {
                font-size: 20px;
                color: #577294;
                font-weight: 500;
            }

            .direction__form {
                margin: 20px 0px;

                .direction__input {
                    width: 80%;
                    border: 1px solid #577294;
                    border-radius: 10px;
                    height: 40px;
                    color: silver;
                    font-size: 14px;
                    padding-left: 10px;
                }
            }
        }

        .direction__box3 {
            display: flex;
            width: 90%;
            margin: 50px auto;
            text-align: justify;

            .direction__box {
                flex: 1;
                width: 30%;

                .direction__name {
                    font-size: 20px;
                    color: #577294;
                    font-weight: 500;
                }
    
                .direction__form {
                    margin: 20px 0px;
    
                    .direction__input2 {
                        width: 80%;
                        border: 1px solid #577294;
                        border-radius: 10px;
                        height: 40px;
                        color: silver;
                        font-size: 14px;
                        padding-left: 10px;
                    }
                }
            }
        }

        .step-buttons {
            margin-top: 0px;
            display: flex;
            flex-direction: column;
    
            .button-1 {
                margin: 0px auto;
                margin-bottom: 20px;
                width: 20%;
                padding: 8px 12px;
                background-color: #0BC6FE;
                border: 0px;
                border-radius: 10px;
                color: #fff;
                font-size: 16px;
                font-weight: 800;
            }
    
            .button-2 {
                margin: 0px auto;
                margin-bottom: 0px;
                width: 16%;
                padding: 6px 10px;
                background-color: transparent;
                border: 0px;
                color: #0BC6FE;
                font-size: 16px;
                font-weight: 800;
            }
        }
    }
}
