.step3 {
    display: flex;

    .step-3{
        width: 65%;
        margin: 30px 0px;

        .step-3__title {
            width: 80%;
            margin: 50px auto;
            font-weight: 700;
            font-size: 36px;
            color: #577294;
        }

        .tarifa {
            text-align: justify;
            width: 90%;
            margin: 80px auto;
            padding-left: 40px;
            color: #577294;

            .tarifa__title {
                font-size: 20px;
            }

            .tarifa__description {
                font-size: 18px;
                margin: 6px 0px;
            }

            .tarifa-buttons {
                display: flex;
                flex-direction: column;
                width: 96%;

                .tarifa__button {
                    font-size: 14px;
                    font-weight: 700;
                    color: #577294;
                    margin-top: 10px;
                    height: 50px;
                    background-color: #fff;
                    border: 1px solid #577294;
                    border-radius: 10px;
                    cursor: pointer;
                }
            }
        }
        .step-buttons {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
    
            .button-1 {
                margin: 0px auto;
                margin-bottom: 20px;
                width: 20%;
                padding: 8px 12px;
                background-color: #0BC6FE;
                border: 0px;
                border-radius: 10px;
                color: #fff;
                font-size: 16px;
                font-weight: 800;
            }
    
            .button-2 {
                margin: 0px auto;
                margin-bottom: 0px;
                width: 16%;
                padding: 6px 10px;
                background-color: transparent;
                border: 0px;
                color: #0BC6FE;
                font-size: 16px;
                font-weight: 800;
            }
        }
    }
}
