/* @font-face {
  font-family: 'Quicksand';
  src: url('../public/fonts/Quicksand/Quicksand-VariableFont_wght.ttf');
} */

.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: #fff;
}

.link-two {
  text-decoration: none;
  color: #0BC6FE;
}
